.aboutCard h3 {
  color: #FEBE10;
  text-align: justify;
  right: auto;
  font-size: 20px;
}

.aboutCard h1 {
  text-align: left;
  font-size: 35px;
  font-weight: 100;
}

.aboutCard h2 {
  color: rgba(0, 0, 0, 0.5);
}

.aboutCard h1 span {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}

.aboutCard p {
  text-align: justify;
  margin-top: 20px;
  font-weight: 300;
  right: auto;
}

.aboutCard .row1 {
  padding-right: 30px;
}

.aboutCard .row.image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.aboutCard .row.image,
.aboutCard .image {
  position: sticky;
}

.aboutCard .control-btn button {
  left: 40%;
}

.aboutCard .control-btn i {
  font-size: 20px;
}

.features .flex_space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.features img {
  width: 90%;
}

.features .control-btn,
.features .image::after,
.features .image::before,
.features .control-btn::before {
  display: none;
}

.features h1 {
  font-weight: bold;
}

.features h1 span {
  color: #FEBE10;
}

@media screen and (max-width: 768px) {
  .features .flex_space,
  .aboutCard {
      flex-direction: column;
  }

  .aboutCard .row.image img {
      width: 100%;
      margin-top: 0;
  }

  .aboutCard .row {
      width: 100%;
  }

  .aboutCard .image {
      margin-top: 50px;
  }

  .aboutCard img {
      width: 100%;
  }
}

.about .row1 {
  margin-right: 10px;
}
